/* COMMON */
body{
  color: #333;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
.btn{
  color: goldenrod;
  background-color: whitesmoke;
  width: 95px;
  height: 42px;
  font-size: 20px;
  transition:all .3s
}
.btn:hover{
  color: royalblue
}
input{
  height: 26px;
  font-size: 20px;
  width: 350px;
  margin: 10px 5px;
}



.clock{
  overflow: hidden;
  position: relative;
  height: 400px;
}
#clock {
  position: absolute;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  top: 20%;
  font-size: 200px;
}

.box{
  position: relative;
  background-color: orange;
  width: 700px;
  margin: 0 auto;
}

#login-form {
  
  background-color: #333;
  padding: 0 auto;
  width: 100%;
  
}
#login-form {

}

.hidden{
  display: none;
}

.inner {

  position: absolute;
  height: 1200px;
  width: 1500px;
  display: flex;
  z-index: -1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0 auto;
}
.inner img{
  width: 100%;
  opacity: 90%;
}
