/* COMMON */
body{
  color: #333;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
.btn{
  color: goldenrod;
  background-color: whitesmoke;
  width: 95px;
  height: 42px;
  font-size: 20px;
  transition:all .3s;
  position:absolute;
  right:4px;
  top: 4px;
}
.btn:hover{
  color: royalblue
}
input{
  height: 26px;
  font-size: 20px;
  width: 500px;
  margin: 10px ;
  position:absolute;
}
span{
  font-size: 25px;
}



.clock{
  overflow: hidden;
  position: relative;
  height: 400px;
}
#clock {
  position: absolute;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  top: 20%;
  font-size: 200px;
}
.box{
  position: relative;

  width: 600px;
  margin: 0 auto;
}
#login-form {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 0 auto;
  justify-content: center;
}
#login-form input {
  width: 475px;
}
.hidden {
  display: none;
}
#greeting {
  font-size: 30px;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#todo-form{
  margin-top: 30px;
  position: relative;
  height: 50px;
  width: 100%;
  justify-content: center;
  display: flex;
}
.inner {
  position: absolute;
  height: 1200px;
  width: 1500px;
  display: flex;
  z-index: -1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0 auto;
}
.inner img{
  width: 100%;
  opacity: 90%;
}
#quote{
  font-size: 15px;
}